@import "materialize/components/color";
$primary-color: color("yellow", "lighten-2") !default;
$secondary-color: color("orange", "base") !default;
@import 'materialize';


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30%;
  height: auto;
  position: relative;
}

.card-title {
  position: aboslute;
  top: -1px;
    a {
      color: orange;
    }
}

.show-card {
  width: 100%
}

.flash {
  text-align: center;
  border-radius: 15px;
  background-color: lightgreen;
  border: 1px solid green;
  padding: 20px;
  width: 200px;
  height: 70px;
}
